.footer_container {
  background-color: rgb(241, 241, 241);
}

.footer_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 30px;
}

.footer_padding {
  width: 33.3%;
}

.bold {
  font-weight: bold;
}

.legal_container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.legal_section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
  .footer_section {
    flex-direction: column;
  }

  .footer_padding {
    margin-bottom: 2rem;
  }

  .legal_container {
    flex-direction: column;

    align-items: center;
  }

  .legal_section {
    padding: 1rem;
  }
}
